<div style="display: flex">
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let c of model">
                <div style="display: flex;">
                    <p>{{c.Name }}</p>
                    <p>
                        <nb-icon (click)="delete(c.Id)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>
                    </p>
                    <p>
                        <nb-icon icon='edit' status="warning" style="font-size: 12px;" [routerLink]="['../editSkill', c.Id]"></nb-icon>
                    </p>
                </div>               
            </nb-list-item>
        </nb-list>
    </nb-card>
</div>