<!-- <div style="display: flex">
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let c of model">
                <div style="display: flex;">
                    <p>{{c.Date | date:'dd-MM-yyyy' }}</p>
                    <p>{{c.Name }}</p>
                    <p>{{c.Description }}</p>
                </div>               
            </nb-list-item>
        </nb-list>
    </nb-card>
    <div>
        <app-category-add></app-category-add>
    </div>
</div> -->

<table mat-table [dataSource]="model" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date:'dd-MM-yyyy' }} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    </ng-container>

    <ng-container matColumnDef="Developpeur">
      <th mat-header-cell *matHeaderCellDef> Liked by </th>
      <td mat-cell *matCellDef="let element">
        <nb-icon [routerLink]="['/advertLikedBy', element.Id]" icon='book' status="success" style="font-size: 12px;"></nb-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>