<div style="display: flex">
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let c of model">
                <div style="display: flex;">
                    <p>{{c.Last_Name }}</p>
                    <p>{{c.First_Name }}</p>
                    <p>{{c.Email }}</p>
                    <p>{{c.Adresse }}</p>                   
                    <p>{{c.Tel }}</p>
                    <p>{{c.Birth_date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        <nb-icon (click)="delete(c.Id)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>
                    </p>
                    <p>
                        <nb-icon icon='edit' status="warning" style="font-size: 12px;" [routerLink]="['/editDevelopper', c.Id]"></nb-icon>
                    </p>
                    <p>
                        <nb-icon icon='book' status="success" style="font-size: 12px;" [routerLink]="['/advertByDevSkill', c.Id]"></nb-icon>
                    </p>
                </div>               
            </nb-list-item>
        </nb-list>
    </nb-card>
    <!-- <div>
        <app-category-add></app-category-add>
    </div> -->
</div>