<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <!-- <div>
                <input formControlName="Name" nbInput placeholder="Auteur">
                <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                    <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div> -->
            <div>
                <textarea nbInput formControlName="Subject" placeholder="Inserez votre message"></textarea>
                <div *ngIf="fg.get('Subject').touched || fg.get('Subject').dirty">
                    <p *ngIf="fg.get('Subject').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Subject').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>            
            <button nbButton [disabled]="fg.invalid">Envoyer</button>
        </form>
    </nb-card-body>
</nb-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>     
      <td mat-cell *matCellDef="let element"> {{element.Date | date:'dd-MM-yyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Auteur </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Subject">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-icon (click)="delete(element.Id)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



<!-- <nb-chat title="Nebular Conversational UI">
    <nb-chat-message *ngFor="let msg of dataSource"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [files]="msg.files"
                     [quote]="msg.quote"
                     [latitude]="msg.latitude"
                     [longitude]="msg.longitude"
                     [avatar]="msg.user.avatar">
</nb-chat-message>
<nb-chat-form (send)="sendMessage($event)">
</nb-chat-form>
</nb-chat> -->