<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="edit()">
            <div>
                <input formControlName="Name" nbInput>
                <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                    <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>       
            <button nbButton [disabled]="fg.invalid">Envoyer</button>
        </form>
    </nb-card-body>
</nb-card>