<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <div>
                <input formControlName="Name" nbInput placeholder="Nom de l'annonce">
                <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                    <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <textarea nbInput formControlName="Description" placeholder="Description"></textarea>
                <div *ngIf="fg.get('Description').touched || fg.get('Description').dirty">
                    <p *ngIf="fg.get('Description').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Description').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>            
            <button nbButton [disabled]="fg.invalid || isCreated">Envoyer</button>
        </form>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="isCreated">
    <nb-card-body>
        <nb-list-item *ngFor="let c of listeSkill">
            <nb-checkbox (checkedChange)="addSkillToAdvert($event,c.Id)">{{c.Name}}</nb-checkbox>
        </nb-list-item>
    </nb-card-body>
  </nb-card>