<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="edit()">
            <div>
                <input formControlName="Name" nbInput placeholder="Nom de l'entreprise">
                <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                    <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <textarea nbInput formControlName="Adresse" placeholder="Adresse de l'entreprise"></textarea>
                <div *ngIf="fg.get('Adresse').touched || fg.get('Adresse').dirty">
                    <p *ngIf="fg.get('Adresse').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Adresse').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Email" nbInput placeholder="Adresse e-mail">
                <div *ngIf="fg.get('Email').touched || fg.get('Email').dirty">
                    <p *ngIf="fg.get('Email').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Email').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Tel" nbInput placeholder="Numéro de téléphone">
                <div *ngIf="fg.get('Tel').touched || fg.get('Tel').dirty">
                    <p *ngIf="fg.get('Tel').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Tel').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Fax" nbInput placeholder="Numéro de Fax OPTIONNEL">
                <div *ngIf="fg.get('Fax').touched || fg.get('Fax').dirty">
                    <p *ngIf="fg.get('Fax').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Tva" nbInput placeholder="Numéro de TVA">
                <div *ngIf="fg.get('Tva').touched || fg.get('Tva').dirty">
                    <p *ngIf="fg.get('Tva').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Tva').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>     
            <button nbButton [disabled]="fg.invalid">Envoyer</button>
        </form>
    </nb-card-body>
</nb-card>