<div style="display: flex;align-items: center; text-align: center;">
    <div style="width: 50%;">
        <nb-card>
            <h4>{{model.Name}}</h4>
        </nb-card>  
    </div>
    <p>
        <nb-icon icon='plus' status="warning" style="font-size: 25px;" [routerLink]="['../../addAdvert', model.Id]"></nb-icon>
    </p>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>     
      <td mat-cell *matCellDef="let element"> {{element.Date | date:'dd-MM-yyy, h:mm'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-icon (click)="delete(element.Id)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-icon [routerLink]="['../../editAdvert', element.Id]" icon='edit' status="warning" style="font-size: 12px;"></nb-icon>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="LikedByDev">
      <th mat-header-cell *matHeaderCellDef> Liked by Dev </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-icon [routerLink]="['/advertLikedBy', element.Id]" icon='book' status="success" style="font-size: 12px;"></nb-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>