<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <div>
                <input formControlName="Last_Name" nbInput placeholder="Nom du dev">
                <div *ngIf="fg.get('Last_Name').touched || fg.get('Last_Name').dirty">
                    <p *ngIf="fg.get('Last_Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Last_Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <textarea nbInput formControlName="First_Name" placeholder="Prénom du dev"></textarea>
                <div *ngIf="fg.get('First_Name').touched || fg.get('First_Name').dirty">
                    <p *ngIf="fg.get('First_Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('First_Name').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Email" nbInput placeholder="Adresse e-mail">
                <div *ngIf="fg.get('Email').touched || fg.get('Email').dirty">
                    <p *ngIf="fg.get('Email').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Email').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Adresse" nbInput placeholder="Adresse">
                <div *ngIf="fg.get('Adresse').touched || fg.get('Adresse').dirty">
                    <p *ngIf="fg.get('Adresse').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Adresse').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input formControlName="Tel" nbInput placeholder="Numéro de telephone">
                <div *ngIf="fg.get('Tel').touched || fg.get('Tel').dirty">
                    <p *ngIf="fg.get('Tel').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Tel').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>
            <div>
                <input type="date" formControlName="Birth_date" nbInput placeholder="Date de naissance">
                <div *ngIf="fg.get('Birth_date').touched || fg.get('Birth_date').dirty">
                    <p *ngIf="fg.get('Birth_date').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Birth_date').hasError('maxlength')">Le champ est trop long</p>
                </div>
            </div>     
            <button nbButton [disabled]="fg.invalid || isCreated">Envoyer</button>
        </form>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="isCreated">
    <nb-card-body>
        <nb-list-item *ngFor="let c of listeSkill">
            <nb-checkbox (checkedChange)="toggleSkillDev($event,c.Id)">{{c.Name}}</nb-checkbox>
        </nb-list-item>
    </nb-card-body>
  </nb-card>