<h1>Hi {{currentUser.FirstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.Username}} ({{user.FirstName}} {{user.LastName}})
        - <a (click)="deleteUser(user.Id)" class="text-danger">Delete</a>
    </li>
</ul>