<h4>ANNONCE</h4>
<h3>{{model.Date | date:'dd-MM-yyyy'}}</h3>
<h3>{{model.Name}}</h3>
<h3>{{model.Description}}</h3>
<h2>-------------------------------------------</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Last_Name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>     
      <td mat-cell *matCellDef="let element"> {{element.Last_Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="First_Name">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{element.First_Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="Like">
      <th mat-header-cell *matHeaderCellDef> Like </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-checkbox [checked]="idS?.includes(element.Id)" (checkedChange)="liked($event,element.Id)" status="danger"></nb-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="Inbox">
      <th mat-header-cell *matHeaderCellDef> Message </th>     
      <td mat-cell *matCellDef="let element"> 
        <nb-icon *ngIf="this.idS?.includes(element.Id)" [routerLink]="['/message', element.Id, model.Id]" icon='inbox' status="success" style="font-size: 20px;"></nb-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

