<nb-layout>

  <nb-layout-header fixed>
    <h4>Adopte un Dev</h4>
    <nav style="margin-top: 10px;" class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
      <div class="navbar-nav">
          <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
          <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
          <nb-icon (click)="logout()" icon='log-out-outline' status="danger" style="font-size: 20px;"></nb-icon>
      </div>
  </nav>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
    
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>&copy; 2020 - AdopteUnDev</p>
  </nb-layout-footer>

</nb-layout>